:root {
    --font-white: #fff;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    
    height: 100vh;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    
}

.card {
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card-front {
    margin: 0 0 30px 150px;
}

.card-front .img-front{
    position: relative;
}

.card-front .info-front{
    position: absolute;
    padding: 30px;
    z-index: 1;
}

.card-front .info-front img {
    margin-bottom: 60px;
}

.card-front .info-front .info-card #number-card {
    letter-spacing: 5px;
    color: var(--font-white);
    font-size: 30px;
    margin-bottom: 20px;
}

.card-front .info-front .info-card div {
    display: flex;
    justify-content: space-between;
    color: var(--font-white);  
}

.card-back {
    margin: 0 0 30px 250px;
}

.card-back .img-back {
    position: relative;
}

.card-back div {
    position: absolute;
    margin: 111px 0 0 360px;
    z-index: 1;
    color: var(--font-white);
}

.form {
    width: 400px;
}

.form .name-input, .number-input, 
.exp .month-year, .cvc-input {
    display: flex;
    flex-direction: column;
}

.form .exp {
    display: flex;
}

.form .exp .month-year input{
    width: 100px;
}

.form .exp .cvc-input {
    margin-left: 16px;  
}

.form .exp .cvc-input input{
    width: 180px;
}

.form .btn {
    background-color: hsl(278, 68%, 11%);
    color: var(--font-white);
    cursor: pointer;
    border: none;
}

